{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <!-- ION Slider -->
    <link href="{% static 'libs/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}
{% block content %}
                        <div class="row">
                            <div class="col-xl-3 col-lg-4">
                                <div class="card">
                                    <div class="card-header bg-transparent border-bottom">
                                        <h5 class="mb-0">Filters</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="font-size-14 mb-3">Categories</h5>

                                        <div class="accordion ecommerce" id="accordionExample">
                                            <div class="accordion-item">
                                              <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="mdi mdi-desktop-classic font-size-16 align-middle me-2"></i> Country
                                                </button>
                                              </h2>
                                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <ul class="list-unstyled categories-list mb-0">
                                                        <li><a href="select_ct?country={{ 'Singapore' }}"><i class="mdi mdi-circle-medium me-1"></i> Singapore</a></li>
                                                        <li><a href="select_ct?country={{ 'America' }}"><i class="mdi mdi-circle-medium me-1"></i> America</a></li>
                                                        <li><a href="select_ct?country={{ 'China' }}"><i class="mdi mdi-circle-medium me-1"></i> China</a></li>
                                                        <li><a href="select_ct?country={{ 'Japan' }}"><i class="mdi mdi-circle-medium me-1"></i> Japan</a></li>
                                                        <li><a href="select_ct?country={{ 'Britain' }}"><i class="mdi mdi-circle-medium me-1"></i> Britain</a></li>
                                                        <li><a href="select_ct?country={{ 'Korea' }}"><i class="mdi mdi-circle-medium me-1"></i> Korea</a></li>
                                                        <li><a href="select_ct?country={{ 'Thailand' }}"><i class="mdi mdi-circle-medium me-1"></i> Thailand</a></li>
                                                        <li><a href="select_ct?country={{ 'Canada' }}"><i class="mdi mdi-circle-medium me-1"></i> Canada</a></li>
                                                        <li><a href="select_ct?country={{ 'Germany' }}"><i class="mdi mdi-circle-medium me-1"></i> Germany</a></li>
                                                        <li><a href="select_ct?country={{ 'Russian' }}"><i class="mdi mdi-circle-medium me-1"></i> Russian</a></li>
                                                    </ul>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="accordion-item">
                                              <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="mdi mdi-pinwheel-outline font-size-16 align-middle me-2"></i> Category
                                                </button>
                                              </h2>
                                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <ul class="list-unstyled categories-list mb-0">
                                                        <li><a href="select_tp?type={{ 'Action' }}"><i class="mdi mdi-circle-medium me-1"></i> Action</a></li>
                                                        <li><a href="select_tp?type={{ 'Fantasy' }}"><i class="mdi mdi-circle-medium me-1"></i> Fantasy</a></li>
                                                        <li><a href="select_tp?type={{ 'Comedy' }}"><i class="mdi mdi-circle-medium me-1"></i> Comedy</a></li>
                                                        <li><a href="select_tp?type={{ 'Horror' }}"><i class="mdi mdi-circle-medium me-1"></i> Horror</a></li>
                                                        <li><a href="select_tp?type={{ 'Romance' }}"><i class="mdi mdi-circle-medium me-1"></i> Romance</a></li>
                                                        <li><a href="select_tp?type={{ 'Documentary' }}"><i class="mdi mdi-circle-medium me-1"></i> Documentary</a></li>
                                                    </ul>
                                                </div>
                                              </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-body border-top">
                                        <div>
                                            <h5 class="font-size-14 mb-4">Price</h5>

                                            <input type="text" id="pricerange">
                                            <p></p>
                                            <a class="btn btn-primary mb-3" onclick="getPriceRange()">Apply</a>
                                        </div>
                                    </div>

                                    <div class="custom-accordion">
    
                                        <div class="card-body border-top">
                                            <div>
                                                <h5 class="font-size-14 mb-0"><a href="#collapseExample3" class="collapsed text-dark d-block" data-bs-toggle="collapse">Customer Rating <i class="mdi mdi-minus float-end accor-plus-icon"></i></a></h5>
    
                                                <div class="collapse" id="collapseExample3">
        
                                                    <div class="mt-4">
                                                        <div class="form-check mt-2">
                                                            <input type="radio" id="productratingRadio1" name="productratingRadio1" class="form-check-input">
                                                            <label class="form-check-label" for="productratingRadio1">8 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input type="radio" id="productratingRadio2" name="productratingRadio1" class="form-check-input">
                                                            <label class="form-check-label" for="productratingRadio2">6 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input type="radio" id="productratingRadio3" name="productratingRadio1" class="form-check-input">
                                                            <label class="form-check-label" for="productratingRadio3">4 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input type="radio" id="productratingRadio4" name="productratingRadio1" class="form-check-input">
                                                            <label class="form-check-label" for="productratingRadio4">1 <i class="mdi mdi-star text-warning"></i></label>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <h5>Movies</h5>
                                                        <ol class="breadcrumb p-0 bg-transparent mb-2">
                                                            <li class="breadcrumb-item"><a href="/about-us">about-us</a></li>
                                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Services</a></li>
                                                            <li class="breadcrumb-item active">Movie rent list</li>
                                                        </ol>
                                                    </div>
                                                </div>

            
                                                <div class="col-md-6">
                                                    <div class="form-inline float-md-end">
                                                        <div class="search-box ms-2">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control rounded" placeholder="Search..." id="movieName" name="movieName">
                                                                <i class="mdi mdi-magnify search-icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <ul class="list-inline my-3 ecommerce-sortby-list">
                                                <li class="list-inline-item"><span class="fw-medium font-family-secondary">Sort by:</span></li>
                                                <li class="list-inline-item"><a href="#">Popularity</a></li>
                                                <li class="list-inline-item active"><a href="#">Newest</a></li>
                                                <li class="list-inline-item"><a href="#">Discount</a></li>
                                            </ul>

                                            <div class="row g-0">
                                                {% for movie in movies %}

                                                    <div class="col-xl-4 col-sm-6">
                                                        <div class="product-box">
                                                            <div class="product-img">
                                                                <div class="product-ribbon badge bg-warning">
                                                                    Duration: {{movie.duration}} min
                                                                </div>
                                                                <div class="product-like">
                                                                    <a href="#">
                                                                        <i class="mdi mdi-heart">{{movie.grade}}</i>
                                                                    </a>
                                                                </div>
                                                                <img src="{{movie.img_url}}" alt="img-1" class="img-fluid mx-auto d-block">
                                                            </div>

                                                            <div class="text-center">
                                                                <p class="font-size-12 mb-1">{{movie.country}}</p>
                                                                <h5 class="font-size-15"><a href="#" class="text-dark">{{movie.name}}</a></h5>
                                                                <h5 class="mt-3 mb-0">SGD$ {{movie.price}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                            </div>

                                            <div class="row mt-4">
                                                <div class="col-sm-6">
                                                    <div>
                                                        <p class="mb-sm-0 mt-2">Page <span class="fw-bold">{{ movies.number }}</span> Of <span class="fw-bold">{{ movies.paginator.num_pages }}</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="float-sm-end">
                                                        <ul class="pagination pagination-rounded mb-sm-0">
                                                            {% for index in movies.paginator.page_range %}
                                                                {% if movies.has_previous %}
                                                                    <li class="page-item active">
                                                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                                    </li>
                                                                {%else%}
                                                                    <li class="page-item disabled">
                                                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                                    </li>
                                                                {%endif%}
                                                                {%if index == movies.number%}
                                                                    <li class="page-item active" >
                                                                        <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                                                                    </li>
                                                                {%else%}
                                                                    <li class="page-item">
                                                                        <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                                                                    </li>
                                                                {%endif%}

                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
{% endblock %}

{% block extra_javascript %}
        <!-- Ion Range Slider-->
        <script src="{% static 'libs/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
        <script>
            function getPriceRange(){
                input_content = document.getElementById("pricerange");
                min_price = input_content.value.split(';')[0]
                max_price = input_content.value.split(';')[1]
                self.location="select_prc?minPrice="+min_price+"&maxPrice="+max_price
            }
            $(function(){
                $('#movieName').bind('keypress',function(event){
                    if(event.keyCode == "13"){
                        input_content = document.getElementById("movieName").value;
                        self.location="search?movie_name="+input_content
                    }
                });
            });

        </script>

        <!-- init js -->
        <script src="{% static 'js/pages/product-filter-range.init.js' %}"></script
{% endblock extra_javascript %}