{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
{% endblock %}
{% block content %}
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <a href="add-product" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Add Movies</a>
                                        </div>
                                        <div class="table-responsive mt-3">
                                            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="checkboxall">
                                                                <label class="form-check-label mb-0" for="checkboxall">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Movie Name</th>
                                                        <th>Image URL</th>
                                                        <th>Duration</th>
                                                        <th>Grade</th>
                                                        <th>Type</th>
                                                        <th>Price</th>
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

{#                                                    <div>#}
{#                                                        <a href="movie_manage" class="btn btn-success mb-2">ReLoad</a>#}
{#                                                    </div>#}
                                                    {% for movie in movies %}
                                                    <tr>

                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" name="chkbox" class="form-check-input" id="checkboxall2">
                                                                <label class="form-check-label mb-0" for="checkboxall2">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        <td>{{movie.name}}</td>
                                                        <td>{{movie.img_url}}</td>
                                                        <td>{{movie.duration}}</td>
                                                        <td>{{movie.grade}}</td>
                                                        <td>{{movie.type}}</td>
                                                        <td>{{movie.price}}</td>
                                                        <td id="tooltip-container2">
                                                            <a href="/admin/ecommerce/movie/{{movie.id}}/change/" class="me-3 text-primary" target="_blank" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="delete?id={{movie.id}}" class="text-danger" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}


                                                    
                                                </tbody>
                                                <div class="row mt-4">
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <p class="mb-sm-0 mt-2">Page <span class="fw-bold">{{ movies.number }}</span> Of <span class="fw-bold">{{ movies.paginator.num_pages }}</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="float-sm-end">
                                                            <ul class="pagination pagination-rounded mb-sm-0">
                                                                {% if movies.has_previous %}
                                                                    <li class="page-item active">
                                                                        <a href="?page={{ movies.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                                    </li>
                                                                {%else%}
                                                                    <li class="page-item disabled">
                                                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                                    </li>
                                                                {%endif%}
                                                                {% for index in movies.paginator.page_range %}
                                                                    {%if index == movies.number%}
                                                                        <li class="page-item active" >
                                                                            <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                                                                        </li>
                                                                    {%else%}
                                                                        <li class="page-item">
                                                                            <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                                                                        </li>
                                                                    {%endif%}

                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
{% endblock %}
{% block extra_javascript %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>
{% endblock %}